<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">toggle_navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a 
				class="navbar-brand logo" 
				href="/">
				<img 
					src="assets\content\uploads\settings\logo.png" 
					style="height:35px; width:auto;" />
			</a>
			<div class="mobile-menu-toggle"><i class="fa fa-bars"></i></div>		
			<div class="mobile-menu"> 
				<a 
					routerLink="/user/{{ user?.username }}" routerLinkActive="active" 
					class="usr-avatar"
					*ngIf="authService.logIn"
					>
						<img
						src='assets/content/uploads/avatars/{{user?.avatar}}'
						alt="{{ user?.username }}" 
						class="img-circle user-avatar-large"
						>
				</a>
				<a
					routerLink="/user/{{ user?.username }}" routerLinkActive="active" 
					class="username"
					*ngIf="authService.logIn"
					>
					{{ user?.username.length > 14 ? (user?.username | slice:0:14)+'..':(user?.username) }}
				</a>
				
				<p class="points" *ngIf="authService.logIn">
					<i class="fa fa-star" style="color:gold"></i>{{ point?.points }} points</p>
				
				<ul>	
					<li class="active">
						<a href="/">
							<i class="fa fa-home"></i> home </a>
					</li>
					<li class="dropdown">
						<a 
							href="#" 
							class="dropdown-toggle" 
							data-toggle="dropdown">
							<i class="fa fa-star"></i> popular <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="popular/week">for_the_week</a></li>
							<li><a href="popular/month">for_the_month</a></li>
							<li><a href="popular/year">for_the_year</a></li>
							<li><a href="popular">all_time</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a 
							href="#" 
							class="dropdown-toggle categories" 
							data-toggle="dropdown">
							<i class="fa fa-folder-open"></i> categories <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li *ngFor="let category of categories">
								<a href="category/{{category?.name |lowercase}}">{{ category?.name }}</a>
							</li>
					  </ul>	
					  
					</li>
					
					<li class="dropdown" *ngIf="settings?.pages_in_menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-file-text"></i> {{ settings?.pages_in_menu_text }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li *ngFor="let page of pages">
								<a href="pages/{{page?.url}}">{{ $page?.title }}</a>
							</li>
						</ul>	
					</li>
					
					<li>
						<a href="/random"><i class="fa fa-random"></i> random</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li 
						[ngClass]="{'active': router.url.includes('signin')}"
						*ngIf="!authService.logIn"
						>
						<a href="/signin">sign_in</a>
					</li>
					<li 
						[ngClass]="{'active': router.url.includes('signin')}"
						*ngIf="!authService.logIn && settings?.user_registration"
						>
						<a href="/signup">sign_up</a>
					</li>
					<li class="dropdown" *ngIf="authService.logIn">
						<a 
							href="#" 
							class="user-menu dropdown-toggle" 
							data-toggle="dropdown">
							<b class="caret"></b>
							<div id="user-info">
								<h4><i class="fa fa-gear"></i> settings</h4>
							</div>
						</a>
						<ul class="dropdown-menu">
							<li *ngIf="user?.admin == 1">
								<a href="/admin" class="admin_link_mobile">
									<i class="fa fa-coffee"></i> admin </a>
							</li>
							<li><a href="/user/{{user?.username}}">
								<i class="fa fa-user"></i> my_profile</a>
							</li>
							<li><a href="/logout" id="user_logout_mobile">
								<i class="fa fa-power-off"></i> logout</a>
							</li>
						</ul>
					</li>
					<li *ngIf="authService.logIn && settings?.user_registration">
						<a href="/upload" class="upload-btn">
							<i class="fa fa-cloud-upload"></i> upload </a>
					</li>
				</ul>
			</div>
</div>
						
              
		
			
     
     		
	
