<div class="mobile-menu"> 
	<a 
		routerLink="/user/{{ user?.username }}" routerLinkActive="active" 
		class="usr-avatar"
		*ngIf="authService.logIn"
		>
			<img
			src='assets/content/uploads/avatars/{{user?.avatar}}'
			alt="{{ user?.username }}" 
			class="img-circle user-avatar-large"
			>
	</a>
	<a
		routerLink="/user/{{ user?.username }}" routerLinkActive="active" 
		class="username"
		*ngIf="authService.logIn"
		>
		{{ user?.username.length > 14 ? (user?.username | slice:0:14)+'..':(user?.username) }}
	</a>
	
	<p class="points" *ngIf="authService.logIn">
		<i class="fa fa-star" style="color:gold"></i>{{ point?.points }} points</p>
	
	<ul>	
		<li class="active">
			<a href="/">
				<i class="fa fa-home"></i> lang.home </a>
		</li>
		<li class="dropdown">
			<a 
				href="#" 
				class="dropdown-toggle" 
				data-toggle="dropdown">
				<i class="fa fa-star"></i> lang.popular <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="popular/week">lang.for_the_week</a></li>
				<li><a href="popular/month">lang.for_the_month</a></li>
				<li><a href="popular/year">lang.for_the_year</a></li>
				<li><a href="popular">lang.all_time</a></li>
			</ul>
		</li>
		
		<li class="dropdown">
			
		</li>	
     
     		
	
